<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.slides" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>gestos</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="laloedhi@gmail.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/res/icon/icono.jpg"/>
</widget>
