body{
    background-color: lightgrey;
 }
 body.claro{
    background-color: aquamarine;
 }
 body.obscuro{
    background-color: darkcyan;
 }

 
 button{
    background-color: darkslategrey;
    width: 80%;
    margin-left: 10%;
    color: white;
    padding: 30px;
    font-size: 1em;
    margin-top: 10px;
 }
 
 div{
    background-color:  darkslategrey;
    width: 80%;
    margin-left: 10%;
    height: 40vh;
    margin-top: 10px;
   
 }
 h1{
    text-align: center;
    margin: 10px;
    font-size: 2em;
    text-transform: uppercase;
 }
 
 #zona-gestos.tap{
    -webkit-animation: click 1.5s 1;
 }
 
 #zona-gestos.doubletap{
    -webkit-animation: pulsacion 1.5s 1;
 }
 
 #zona-gestos.press{
    -webkit-animation: presion 1.5s 1;
 }
 #zona-gestos.swipeD{
    -webkit-animation: swipeDerecha 2s 1;
 }
 #zona-gestos.swipeI{
    -webkit-animation: swipeIzquierda 2s 1;
 }
 #zona-gestos.rotate-R{
    -webkit-animation: rotarR 2s 1;
 }
 #zona-gestos.rotate-L{
    -webkit-animation: rotarL 2s 1;
 }
 
 @-webkit-keyframes click {
    0%, 100%{
        background-color: greenyellow;
    }
    10%{
      background-color: white;
    
    }
   20%{
      background-color: grey;
   }
   30%
   {
      background-color: lightseagreen;
   }
   40%{
      background-color: lightskyblue;
   }
    50%{
        background-color: blue;
    }
    60%
    {
       background-color: purple;
    }
    70%{
       background-color: orange;
    }
    80%
    {
       background-color: green;
    }
 }
 
 @-webkit-keyframes pulsacion{
    0%, 100%{
        background-color: darkslategrey;
    }
    50%{
        background-color: rgb(238, 250, 40);
    }
 }
 
 @-webkit-keyframes presion{
    0%, 100%{
        background-color: darkslategrey;
    }
    50%{
        background-color:  rgb(42, 63, 200);
    }
 }
 
 @-webkit-keyframes swipeDerecha{
    0%, 100%{
        margin-left: 0%;
    }
    50%{
        margin-left: 100%;
    }
 }
 @-webkit-keyframes swipeIzquierda{
    0%, 100%{
        width: 100%;
    }
    50%{
        width: 0%;
    }
 }
 
 @-webkit-keyframes rotarR{
    100%{
        -webkit-transform: rotate(360deg);
    }
 }
 @-webkit-keyframes rotarL{
    100%{
        -webkit-transform: rotate(-360deg);
    }
 }
 
 