body{
    background-color: lightgrey;
 }
 body.claro{
    background-color: green;
 }
 body.obscuro{
    background-color: darkblue;
 }
 
 button{
    background-color: darkgoldenrod;
    width: 100%;
    padding: 30px;
    font-size: 1em;
    margin-top: 10px;
 }
 